### CARGA DE DATASET ###

In [3]:
import pandas as pd
df = pd.read_csv(r"C:\Users\pc\Documents\GitHub\tfm_xavierMedina\spark\out\part-00000-dfcb5cb4-93ce-4c81-bc3a-d35d1eed30ac-c000.csv", delimiter=";")
print(df)

          Id NombreEstacion           Estacion  longitud2  latitud2  altitud  \
0          1     PORTOVIEJO             Picoza   -804.601   -10.382     3140
1          2     PORTOVIEJO             Picoza   -804.601   -10.382     3140
2          3     PORTOVIEJO        12 de Marzo   -804.597   -10.379     3140
3          4     PORTOVIEJO          San Pablo   -804.604   -10.385     3140
4          5     PORTOVIEJO  Francisco Pacheco   -804.600   -10.381     3140
...      ...            ...                ...        ...       ...      ...
20583  20584     PORTOVIEJO        12 de Marzo   -804.597   -10.379     1955
20584  20585     PORTOVIEJO      18 de Octubre   -804.599   -10.377       21
20585  20586     PORTOVIEJO  Francisco Pacheco   -804.600   -10.376       21
20586  20587     PORTOVIEJO  Francisco Pacheco   -804.600   -10.376     2886
20587  20588     PORTOVIEJO  Francisco Pacheco   -804.600   -10.376     3427

       anio precipitaciones Dia precipitaciones Noche temperatura Dia  \
0      1964               181,9                 319,6              29
1      1977               102,8                  96,8              18
2      1978                98,1                 161,5              21
3      1979                71,2                  83,2              17
4      1980               181,9                 319,6              29
...     ...                 ...                   ...             ...
20583  2016                51,4                   0,4              19
20584  2015                 NaN                   NaN              20
20585  2016               329,6                 172,7              33
20586  2017                 NaN                   NaN              18
20587  2001               350,9                  60,4              29

       temperatura Noche  H. del Suelo Dia  H. del Suelo Noche  \
0                     16                 0                   0
1                     24                26                  37
2                     17                12                  25
3                     17                20                  28
4                     20                20                  29
...                  ...               ...                 ...
20583                 20                26                  37
20584                 19                15                  47
20585                 19                27                  45
20586                 23                24                  53
20587                 16                12                  29

      Evapotranspiracion Dia Evapotranspiracion Noche  \
0                        NaN                      NaN
1                        1,9                     44,1
2                       37,1                     17,6
3                        5,9                    104,8
4                        2,9                     36,8
...                      ...                      ...
20583                    1,5                      1,2
20584                    NaN                      NaN
20585                    NaN                      NaN
20586                    NaN                      NaN
20587                    NaN                      0,5

      Velocidad del Viento Dia Velocidad del Viento Noche radiacion Solar
0                          NaN                        NaN             5,8
1                        120,9                      179,8             5,8
2                        131,6                       62,6             5,7
3                        182,1                         89             5,5
4                         28,3                      137,5               6
...                        ...                        ...             ...
20583                     11,4                       30,5               6
20584                      NaN                        NaN             5,7
20585                      NaN                        NaN             5,8
20586                      NaN                        139             5,9
20587                      7,3                        3,4             6,1

[20588 rows x 18 columns]

### IDENTIFICACION DE VALORES NULOS ###

In [5]:
# EJEMPLO: Contar valores perdidos
df.isnull().sum()

Id                               0
NombreEstacion                   0
Estacion                         0
longitud2                        0
latitud2                         0
altitud                          0
anio                             0
precipitaciones Dia           2274
precipitaciones Noche         2376
temperatura Dia                121
temperatura Noche                0
H. del Suelo Dia                 0
H. del Suelo Noche               0
Evapotranspiracion Dia        2487
Evapotranspiracion Noche      2461
Velocidad del Viento Dia      2506
Velocidad del Viento Noche    2476
radiacion Solar                  1
dtype: int64

### COMPLETAR VALORES NULOS ###

In [6]:
# EJEMPLO: Completar valores perdidos con método ffill
df.fillna(method='ffill', inplace=True)
pd.isnull(df).any()

C:\Users\pc\AppData\Local\Temp\ipykernel_28716\1246043208.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)

Id                            False
NombreEstacion                False
Estacion                      False
longitud2                     False
latitud2                      False
altitud                       False
anio                          False
precipitaciones Dia           False
precipitaciones Noche         False
temperatura Dia               False
temperatura Noche             False
H. del Suelo Dia              False
H. del Suelo Noche            False
Evapotranspiracion Dia         True
Evapotranspiracion Noche       True
Velocidad del Viento Dia       True
Velocidad del Viento Noche     True
radiacion Solar               False
dtype: bool

### VERIFICACION DE SI EXISTEN VALORES NULOS NUEVAMENTE ###

In [7]:

# EJEMPLO: Contar valores perdidos
df.isnull().sum()

Id                            0
NombreEstacion                0
Estacion                      0
longitud2                     0
latitud2                      0
altitud                       0
anio                          0
precipitaciones Dia           0
precipitaciones Noche         0
temperatura Dia               0
temperatura Noche             0
H. del Suelo Dia              0
H. del Suelo Noche            0
Evapotranspiracion Dia        1
Evapotranspiracion Noche      1
Velocidad del Viento Dia      1
Velocidad del Viento Noche    1
radiacion Solar               0
dtype: int64

# ELIMINAR VARIABLES NO DETERMINANTES

In [9]:
# EJEMPLO: Eliminar variable Provincia por ser de tipo cadena de texto sin formato
df.drop("NombreEstacion", axis = 1, inplace = True)

### TRANSFORMAR VARIABLES CATEGORICAS

In [10]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df['Estacion'] = le.fit_transform(df['Estacion'])

print(df)

          Id  Estacion  longitud2  latitud2  altitud  anio  \
0          1         5   -804.601   -10.382     3140  1964
1          2         5   -804.601   -10.382     3140  1977
2          3         0   -804.597   -10.379     3140  1978
3          4         7   -804.604   -10.385     3140  1979
4          5         4   -804.600   -10.381     3140  1980
...      ...       ...        ...       ...      ...   ...
20583  20584         0   -804.597   -10.379     1955  2016
20584  20585         1   -804.599   -10.377       21  2015
20585  20586         4   -804.600   -10.376       21  2016
20586  20587         4   -804.600   -10.376     2886  2017
20587  20588         4   -804.600   -10.376     3427  2001

      precipitaciones Dia precipitaciones Noche temperatura Dia  \
0                   181,9                 319,6              29
1                   102,8                  96,8              18
2                    98,1                 161,5              21
3                    71,2                  83,2              17
4                   181,9                 319,6              29
...                   ...                   ...             ...
20583                51,4                   0,4              19
20584                51,4                   0,4              20
20585               329,6                 172,7              33
20586               329,6                 172,7              18
20587               350,9                  60,4              29

       temperatura Noche  H. del Suelo Dia  H. del Suelo Noche  \
0                     16                 0                   0
1                     24                26                  37
2                     17                12                  25
3                     17                20                  28
4                     20                20                  29
...                  ...               ...                 ...
20583                 20                26                  37
20584                 19                15                  47
20585                 19                27                  45
20586                 23                24                  53
20587                 16                12                  29

      Evapotranspiracion Dia Evapotranspiracion Noche  \
0                        NaN                      NaN
1                        1,9                     44,1
2                       37,1                     17,6
3                        5,9                    104,8
4                        2,9                     36,8
...                      ...                      ...
20583                    1,5                      1,2
20584                    1,5                      1,2
20585                    1,5                      1,2
20586                    1,5                      1,2
20587                    1,5                      0,5

      Velocidad del Viento Dia Velocidad del Viento Noche radiacion Solar
0                          NaN                        NaN             5,8
1                        120,9                      179,8             5,8
2                        131,6                       62,6             5,7
3                        182,1                         89             5,5
4                         28,3                      137,5               6
...                        ...                        ...             ...
20583                     11,4                       30,5               6
20584                     11,4                       30,5             5,7
20585                     11,4                       30,5             5,8
20586                     11,4                        139             5,9
20587                      7,3                        3,4             6,1

[20588 rows x 17 columns]

In [11]:
# Exportar a CSV
df.to_csv('inhami_transformed.csv', index=False, sep=';')  # index=False para no guardar el índice