### CARGA DE DATASET ###

In [182]:
import pandas as pd
df_precipitaciones = pd.read_csv(r"C:\Users\pc\Documents\GitHub\tfm_xavierMedina\spark\outputs\part-00000-36d30116-2c3c-4f06-add1-921e1f73060d-c000.csv", delimiter=";")
print(df_precipitaciones)

          Id   Provincia           Estacion  longitud2  latitud2  altitud  \
0          1  PORTOVIEJO             Picoza   -804.596   -10.376     3140
1          2  PORTOVIEJO             Picoza   -804.596   -10.376     3140
2          3  PORTOVIEJO        12 de Marzo   -804.596   -10.376     3140
3          4  PORTOVIEJO          San Pablo   -804.596   -10.376     3140
4          5  PORTOVIEJO  Francisco Pacheco   -804.596   -10.376     3140
...      ...         ...                ...        ...       ...      ...
20583  20584  PORTOVIEJO        12 de Marzo   -804.596   -10.376     1955
20584  20585  PORTOVIEJO      18 de Octubre   -804.596   -10.376       21
20585  20586  PORTOVIEJO  Francisco Pacheco   -804.596   -10.376       21
20586  20587  PORTOVIEJO  Francisco Pacheco   -804.596   -10.376     2886
20587  20588  PORTOVIEJO  Francisco Pacheco   -804.596   -10.376     3427

       anio    ene    feb    mar    abr    may   jun   jul    ago    sep  \
0      1964    NaN   81,9    NaN    NaN    NaN   NaN   NaN    NaN    NaN
1      1977    NaN    NaN    NaN    NaN    NaN    61   1,9   44,1  120,9
2      1978   98,1  161,5  107,7  196,6  115,6  12,4  37,1   17,6  131,6
3      1979   71,2   83,2  307,1    139  252,8  40,5   5,9  104,8  182,1
4      1980  181,9  319,6  101,1  227,6     27  39,3   2,9   36,8   28,3
...     ...    ...    ...    ...    ...    ...   ...   ...    ...    ...
20583  2016   51,4    0,4   31,9   72,8   40,9  22,2   1,5    1,2   11,4
20584  2015    NaN    NaN    NaN    NaN    NaN   NaN   NaN    NaN    NaN
20585  2016  329,6  172,7  358,2  153,3    0,3     0   NaN    NaN    NaN
20586  2017    NaN    NaN    NaN    NaN    NaN   NaN   NaN    NaN    NaN
20587  2001  350,9   60,4    NaN   63,1   31,4   1,8   NaN    0,5    7,3

         oct    nov    dic
0        NaN    NaN    NaN
1      179,8   96,2  165,9
2       62,6  107,5  133,4
3         89   57,1   27,1
4      137,5  120,6    183
...      ...    ...    ...
20583   30,5   46,4   34,6
20584    NaN    NaN    5,7
20585    NaN    NaN    NaN
20586    139   66,2   92,6
20587    3,4    NaN    NaN

[20588 rows x 19 columns]

In [183]:
df_temperatura = pd.read_csv(r"C:\Users\pc\Documents\GitHub\tfm_xavierMedina\spark\outputs\part-00000-0058d45d-c76e-4044-bc49-bd4847e15259-c000.csv", delimiter=";")
print(df_temperatura)

        Id   Provincia           Estacion longitud2 latitud2  altitud  anio  \
0        1  PORTOVIEJO             Picoza  -80,4596  -1,0376     3140  1978
1        2  PORTOVIEJO             Picoza  -80,4596  -1,0376     3140  1979
2        3  PORTOVIEJO        12 de Marzo  -80,4596  -1,0376     3140  1980
3        4  PORTOVIEJO          San Pablo  -80,4596  -1,0376     3140  1981
4        5  PORTOVIEJO  Francisco Pacheco  -80,4596  -1,0376     3140  1982
...    ...         ...                ...       ...      ...      ...   ...
6493  6494  PORTOVIEJO              Colon  -80,4596  -1,0376     1955  2016
6494  6495  PORTOVIEJO          San Pablo  -80,4596  -1,0376       21  2015
6495  6496  PORTOVIEJO          San Pablo  -80,4596  -1,0376       21  2016
6496  6497  PORTOVIEJO     Andres de Vera  -80,4596  -1,0376     2886  2017
6497  6498  PORTOVIEJO         Portoviejo  -80,4596  -1,0376     3427  2001

       ene   feb   mar   abr   may   jun   jul   ago   sep   oct   nov   dic
0       10  10,8  10,2  10,3  10,2   9,5   9,2   9,3   9,7   9,6  11,3  10,2
1     10,3  10,3  10,3  10,4  10,3    10   9,6   9,5  10,2  10,3  10,3  10,3
2     10,6    10  10,4  10,5  10,5  10,1   9,7   9,6  10,4  10,3  10,4  10,3
3     10,3  10,5  10,5  10,6  10,3   9,9   9,3   9,7    10  10,5  10,1  10,3
4      9,9  10,4  10,3  10,4  10,4  10,2   9,4   9,5  10,1    10  10,7  10,7
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
6493  19,1    20  19,5  19,5  20,1  19,2  19,2  20,4  19,7    19  18,6  18,1
6494   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  28,4
6495  27,3  27,6  27,8  27,6  28,5  27,4   NaN   NaN   NaN   NaN   NaN   NaN
6496   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  14,3  13,5  13,9
6497  23,3   NaN   NaN  24,4  23,5  23,3   NaN  23,8    23  23,6   NaN   NaN

[6498 rows x 19 columns]

### IDENTIFICACION DE VALORES NULOS ###

In [184]:
# EJEMPLO: Contar valores perdidos
df_precipitaciones.isnull().sum()

Id              0
Provincia       0
Estacion        0
longitud2       0
latitud2        0
altitud         0
anio            0
ene          2275
feb          2374
mar          2282
abr          2380
may          2366
jun          2452
jul          2482
ago          2458
sep          2504
oct          2474
nov          2584
dic          2539
dtype: int64

In [185]:
df_temperatura.isnull().sum()

Id              0
Provincia       0
Estacion        0
longitud2       0
latitud2        0
altitud         0
anio            0
ene           695
feb           785
mar           748
abr           759
may           716
jun           801
jul           831
ago           896
sep           936
oct           984
nov          1041
dic          1065
dtype: int64

### COMPLETAR VALORES NULOS ###

In [186]:
# EJEMPLO: Completar valores perdidos con método ffill
df_precipitaciones.fillna(method='ffill', inplace=True)
pd.isnull(df_precipitaciones).any()

C:\Users\pc\AppData\Local\Temp\ipykernel_30064\1504018092.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_precipitaciones.fillna(method='ffill', inplace=True)

Id           False
Provincia    False
Estacion     False
longitud2    False
latitud2     False
altitud      False
anio         False
ene           True
feb          False
mar           True
abr           True
may           True
jun           True
jul           True
ago           True
sep           True
oct           True
nov           True
dic           True
dtype: bool

In [187]:
# EJEMPLO: Completar valores perdidos con método ffill
df_temperatura.fillna(method='ffill', inplace=True)
pd.isnull(df_temperatura).any()

C:\Users\pc\AppData\Local\Temp\ipykernel_30064\1470193777.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_temperatura.fillna(method='ffill', inplace=True)

Id           False
Provincia    False
Estacion     False
longitud2    False
latitud2     False
altitud      False
anio         False
ene          False
feb          False
mar          False
abr          False
may          False
jun          False
jul          False
ago          False
sep          False
oct          False
nov          False
dic          False
dtype: bool

### VERIFICACION DE SI EXISTEN VALORES NULOS NUEVAMENTE ###

In [188]:

# EJEMPLO: Contar valores perdidos
df_precipitaciones.isnull().sum()

Id           0
Provincia    0
Estacion     0
longitud2    0
latitud2     0
altitud      0
anio         0
ene          2
feb          0
mar          2
abr          2
may          2
jun          1
jul          1
ago          1
sep          1
oct          1
nov          1
dic          1
dtype: int64

In [189]:
# EJEMPLO: Contar valores perdidos
df_temperatura.isnull().sum()

Id           0
Provincia    0
Estacion     0
longitud2    0
latitud2     0
altitud      0
anio         0
ene          0
feb          0
mar          0
abr          0
may          0
jun          0
jul          0
ago          0
sep          0
oct          0
nov          0
dic          0
dtype: int64

### TRANSFORMAR VARIABLES CATEGORICAS

In [190]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df_temperatura['Estacion'] = le.fit_transform(df_temperatura['Estacion'])

print(df_temperatura)

        Id   Provincia  Estacion longitud2 latitud2  altitud  anio   ene  \
0        1  PORTOVIEJO         5  -80,4596  -1,0376     3140  1978    10
1        2  PORTOVIEJO         5  -80,4596  -1,0376     3140  1979  10,3
2        3  PORTOVIEJO         0  -80,4596  -1,0376     3140  1980  10,6
3        4  PORTOVIEJO         7  -80,4596  -1,0376     3140  1981  10,3
4        5  PORTOVIEJO         4  -80,4596  -1,0376     3140  1982   9,9
...    ...         ...       ...       ...      ...      ...   ...   ...
6493  6494  PORTOVIEJO         3  -80,4596  -1,0376     1955  2016  19,1
6494  6495  PORTOVIEJO         7  -80,4596  -1,0376       21  2015  19,1
6495  6496  PORTOVIEJO         7  -80,4596  -1,0376       21  2016  27,3
6496  6497  PORTOVIEJO         2  -80,4596  -1,0376     2886  2017  27,3
6497  6498  PORTOVIEJO         6  -80,4596  -1,0376     3427  2001  23,3

       feb   mar   abr   may   jun   jul   ago   sep   oct   nov   dic
0     10,8  10,2  10,3  10,2   9,5   9,2   9,3   9,7   9,6  11,3  10,2
1     10,3  10,3  10,4  10,3    10   9,6   9,5  10,2  10,3  10,3  10,3
2       10  10,4  10,5  10,5  10,1   9,7   9,6  10,4  10,3  10,4  10,3
3     10,5  10,5  10,6  10,3   9,9   9,3   9,7    10  10,5  10,1  10,3
4     10,4  10,3  10,4  10,4  10,2   9,4   9,5  10,1    10  10,7  10,7
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
6493    20  19,5  19,5  20,1  19,2  19,2  20,4  19,7    19  18,6  18,1
6494    20  19,5  19,5  20,1  19,2  19,2  20,4  19,7    19  18,6  28,4
6495  27,6  27,8  27,6  28,5  27,4  19,2  20,4  19,7    19  18,6  28,4
6496  27,6  27,8  27,6  28,5  27,4  19,2  20,4  19,7  14,3  13,5  13,9
6497  27,6  27,8  24,4  23,5  23,3  19,2  23,8    23  23,6  13,5  13,9

[6498 rows x 19 columns]

In [191]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df_precipitaciones['Estacion'] = le.fit_transform(df_precipitaciones['Estacion'])

print(df_precipitaciones)

          Id   Provincia  Estacion  longitud2  latitud2  altitud  anio    ene  \
0          1  PORTOVIEJO         5   -804.596   -10.376     3140  1964    NaN
1          2  PORTOVIEJO         5   -804.596   -10.376     3140  1977    NaN
2          3  PORTOVIEJO         0   -804.596   -10.376     3140  1978   98,1
3          4  PORTOVIEJO         7   -804.596   -10.376     3140  1979   71,2
4          5  PORTOVIEJO         4   -804.596   -10.376     3140  1980  181,9
...      ...         ...       ...        ...       ...      ...   ...    ...
20583  20584  PORTOVIEJO         0   -804.596   -10.376     1955  2016   51,4
20584  20585  PORTOVIEJO         1   -804.596   -10.376       21  2015   51,4
20585  20586  PORTOVIEJO         4   -804.596   -10.376       21  2016  329,6
20586  20587  PORTOVIEJO         4   -804.596   -10.376     2886  2017  329,6
20587  20588  PORTOVIEJO         4   -804.596   -10.376     3427  2001  350,9

         feb    mar    abr    may   jun   jul    ago    sep    oct    nov  \
0       81,9    NaN    NaN    NaN   NaN   NaN    NaN    NaN    NaN    NaN
1       81,9    NaN    NaN    NaN    61   1,9   44,1  120,9  179,8   96,2
2      161,5  107,7  196,6  115,6  12,4  37,1   17,6  131,6   62,6  107,5
3       83,2  307,1    139  252,8  40,5   5,9  104,8  182,1     89   57,1
4      319,6  101,1  227,6     27  39,3   2,9   36,8   28,3  137,5  120,6
...      ...    ...    ...    ...   ...   ...    ...    ...    ...    ...
20583    0,4   31,9   72,8   40,9  22,2   1,5    1,2   11,4   30,5   46,4
20584    0,4   31,9   72,8   40,9  22,2   1,5    1,2   11,4   30,5   46,4
20585  172,7  358,2  153,3    0,3     0   1,5    1,2   11,4   30,5   46,4
20586  172,7  358,2  153,3    0,3     0   1,5    1,2   11,4    139   66,2
20587   60,4  358,2   63,1   31,4   1,8   1,5    0,5    7,3    3,4   66,2

         dic
0        NaN
1      165,9
2      133,4
3       27,1
4        183
...      ...
20583   34,6
20584    5,7
20585    5,7
20586   92,6
20587   92,6

[20588 rows x 19 columns]