### CARGA DE DATASET ###

In [98]:
import pandas as pd
df_precipitaciones = pd.read_csv(r"C:\Users\pc\Documents\GitHub\tfm_xavierMedina\spark - session\part-00000-92040b75-aff7-46ae-b446-40e8ee67aba2-c000.csv", delimiter=";")
print(df_precipitaciones)

          Id NombreEstacion  longitud2  latitud2  altitud  anio    ene    feb  \
0          1     PORTOVIEJO   -804.596   -10.376     3140  1964    NaN   81,9
1          2     PORTOVIEJO   -804.596   -10.376     3140  1977    NaN    NaN
2          3     PORTOVIEJO   -804.596   -10.376     3140  1978   98,1  161,5
3          4     PORTOVIEJO   -804.596   -10.376     3140  1979   71,2   83,2
4          5     PORTOVIEJO   -804.596   -10.376     3140  1980  181,9  319,6
...      ...            ...        ...       ...      ...   ...    ...    ...
20583  20584     PORTOVIEJO   -804.596   -10.376     1955  2016   51,4    0,4
20584  20585     PORTOVIEJO   -804.596   -10.376       21  2015    NaN    NaN
20585  20586     PORTOVIEJO   -804.596   -10.376       21  2016  329,6  172,7
20586  20587     PORTOVIEJO   -804.596   -10.376     2886  2017    NaN    NaN
20587  20588     PORTOVIEJO   -804.596   -10.376     3427  2001  350,9   60,4

         mar    abr    may   jun   jul    ago    sep    oct    nov    dic
0        NaN    NaN    NaN   NaN   NaN    NaN    NaN    NaN    NaN    NaN
1        NaN    NaN    NaN    61   1,9   44,1  120,9  179,8   96,2  165,9
2      107,7  196,6  115,6  12,4  37,1   17,6  131,6   62,6  107,5  133,4
3      307,1    139  252,8  40,5   5,9  104,8  182,1     89   57,1   27,1
4      101,1  227,6     27  39,3   2,9   36,8   28,3  137,5  120,6    183
...      ...    ...    ...   ...   ...    ...    ...    ...    ...    ...
20583   31,9   72,8   40,9  22,2   1,5    1,2   11,4   30,5   46,4   34,6
20584    NaN    NaN    NaN   NaN   NaN    NaN    NaN    NaN    NaN    5,7
20585  358,2  153,3    0,3     0   NaN    NaN    NaN    NaN    NaN    NaN
20586    NaN    NaN    NaN   NaN   NaN    NaN    NaN    139   66,2   92,6
20587    NaN   63,1   31,4   1,8   NaN    0,5    7,3    3,4    NaN    NaN

[20588 rows x 18 columns]

In [99]:
df_precipitaciones = pd.read_csv(r"C:\Users\pc\Documents\GitHub\tfm_xavierMedina\spark - session\part-00000-e4e2084c-f4d5-4a7e-8cd7-77b7f8c6ffe8-c000.csv", delimiter=";")
print(df_precipitaciones)

        Id NombreEstacion longitud2 latitud2  altitud  anio   ene   feb   mar  \
0        1     PORTOVIEJO  -80,4596  -1,0376     3140  1978    10  10,8  10,2
1        2     PORTOVIEJO  -80,4596  -1,0376     3140  1979  10,3  10,3  10,3
2        3     PORTOVIEJO  -80,4596  -1,0376     3140  1980  10,6    10  10,4
3        4     PORTOVIEJO  -80,4596  -1,0376     3140  1981  10,3  10,5  10,5
4        5     PORTOVIEJO  -80,4596  -1,0376     3140  1982   9,9  10,4  10,3
...    ...            ...       ...      ...      ...   ...   ...   ...   ...
6493  6494     PORTOVIEJO  -80,4596  -1,0376     1955  2016  19,1    20  19,5
6494  6495     PORTOVIEJO  -80,4596  -1,0376       21  2015   NaN   NaN   NaN
6495  6496     PORTOVIEJO  -80,4596  -1,0376       21  2016  27,3  27,6  27,8
6496  6497     PORTOVIEJO  -80,4596  -1,0376     2886  2017   NaN   NaN   NaN
6497  6498     PORTOVIEJO  -80,4596  -1,0376     3427  2001  23,3   NaN   NaN

       abr   may   jun   jul   ago   sep   oct   nov   dic
0     10,3  10,2   9,5   9,2   9,3   9,7   9,6  11,3  10,2
1     10,4  10,3    10   9,6   9,5  10,2  10,3  10,3  10,3
2     10,5  10,5  10,1   9,7   9,6  10,4  10,3  10,4  10,3
3     10,6  10,3   9,9   9,3   9,7    10  10,5  10,1  10,3
4     10,4  10,4  10,2   9,4   9,5  10,1    10  10,7  10,7
...    ...   ...   ...   ...   ...   ...   ...   ...   ...
6493  19,5  20,1  19,2  19,2  20,4  19,7    19  18,6  18,1
6494   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  28,4
6495  27,6  28,5  27,4   NaN   NaN   NaN   NaN   NaN   NaN
6496   NaN   NaN   NaN   NaN   NaN   NaN  14,3  13,5  13,9
6497  24,4  23,5  23,3   NaN  23,8    23  23,6   NaN   NaN

[6498 rows x 18 columns]

### IDENTIFICACION DE VALORES NULOS ###

In [100]:
# EJEMPLO: Contar valores perdidos
df_precipitaciones.isnull().sum()

Id                   0
NombreEstacion       0
longitud2            0
latitud2             0
altitud              0
anio                 0
ene                695
feb                785
mar                748
abr                759
may                716
jun                801
jul                831
ago                896
sep                936
oct                984
nov               1041
dic               1065
dtype: int64

In [101]:
df_temperatura.isnull().sum()

Id                0
NombreEstacion    0
longitud2         0
latitud2          0
altitud           0
anio              0
ene               0
feb               0
mar               0
abr               0
may               0
jun               0
jul               0
ago               0
sep               0
oct               0
nov               0
dic               0
dtype: int64

### COMPLETAR VALORES NULOS ###

In [102]:
# EJEMPLO: Completar valores perdidos con método ffill
df_precipitaciones.fillna(method='ffill', inplace=True)
pd.isnull(df_precipitaciones).any()

C:\Users\pc\AppData\Local\Temp\ipykernel_30064\1504018092.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_precipitaciones.fillna(method='ffill', inplace=True)

Id                False
NombreEstacion    False
longitud2         False
latitud2          False
altitud           False
anio              False
ene               False
feb               False
mar               False
abr               False
may               False
jun               False
jul               False
ago               False
sep               False
oct               False
nov               False
dic               False
dtype: bool

In [103]:
# EJEMPLO: Completar valores perdidos con método ffill
df_temperatura.fillna(method='ffill', inplace=True)
pd.isnull(df_temperatura).any()

C:\Users\pc\AppData\Local\Temp\ipykernel_30064\1470193777.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_temperatura.fillna(method='ffill', inplace=True)

Id                False
NombreEstacion    False
longitud2         False
latitud2          False
altitud           False
anio              False
ene               False
feb               False
mar               False
abr               False
may               False
jun               False
jul               False
ago               False
sep               False
oct               False
nov               False
dic               False
dtype: bool

### VERIFICACION DE SI EXISTEN VALORES NULOS NUEVAMENTE ###

In [104]:

# EJEMPLO: Contar valores perdidos
df_precipitaciones.isnull().sum()

Id                0
NombreEstacion    0
longitud2         0
latitud2          0
altitud           0
anio              0
ene               0
feb               0
mar               0
abr               0
may               0
jun               0
jul               0
ago               0
sep               0
oct               0
nov               0
dic               0
dtype: int64

In [106]:
# EJEMPLO: Contar valores perdidos
df_temperatura.isnull().sum()

Id                0
NombreEstacion    0
longitud2         0
latitud2          0
altitud           0
anio              0
ene               0
feb               0
mar               0
abr               0
may               0
jun               0
jul               0
ago               0
sep               0
oct               0
nov               0
dic               0
dtype: int64